.App {
	text-align: center;
	width: 99.22vw;
	height: 500vh;
	background-image: linear-gradient(rgb(31, 31, 31), rgb(75, 75, 75));
	overflow-x: hidden;
}

.ProjectContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.Title {
	color: white;
	font-weight: 500;
	font-size: 2vw;
}
