.Intro {
	color: white;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;

	padding: 1%;
	border-radius: 30px;
	margin-top: 2%;
	transition-duration: 0.5s;
}

.IntroTitle {
	margin-bottom: 2%;
	font-size: 200%;
}

.Summary {
	margin-top: 1vh;
	font-size: 100%;
	width: 70%;
	border-radius: 20px;
}
