.Intro {
	text-align: left;
	color: white;
	align-items: self-start;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 5%;
	border-radius: 30px;
	margin: 5%;
	margin-left: 40%;
	transition-duration: 0.5s;
}
.Container {
}
.IntroCover {
	align-self: flex-end;
	animation: swipe 3s ease 1 forwards; /* added the 'forwards' value here */
	background-color: #0e172e;
	width: 25vw;
	margin-right: -0.5vw;
	height: 20vh;
	margin-top: -20vh;
}

@keyframes swipe {
	0% {
		width: 25vw;
	}
	100% {
		width: 0vw;
	}
}

.IntroTitle {
	align-self: flex-start;
	margin-bottom: 2%;
	font-size: 2.5vw;
	font-weight: 700;
}

.Summary {
	margin-left: 0.4%;
	align-self: flex-start;
	color: #92a0b6;
	margin-top: 1vh;
	font-size: 1vw;
	width: 70%;
	border-radius: 20px;
}
