.MainPage {
	display: flex;
	text-align: center;
	align-items: start;
	justify-content: center;
	min-height: 100vh;
	height: fit-content;
	width: 100vw;
	background-color: #0e172e;
	filter: blur(0px);
}

@keyframes blurFadeOut {
	from {
		filter: blur(0) opacity(1);
	}
	to {
		filter: blur(100px) opacity(0);
	}
}

.MPColumn {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}
.ProjectContainer {
	margin-top: 8%;
	display: flex;
	flex-direction: column;
	row-gap: 0;
	column-gap: 0;
}

.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Title {
	align-self: center;
	justify-self: center;
	width: fit-content;
	margin: 2vh;
	color: #ffffff;
	font-weight: 500;
	font-size: 200%;
	padding: 5px;
	border-radius: 8px;
}

@media screen and (max-width: 800px) {
	.ProjectContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
