.project {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 80%;
	height: fit-content;
	margin: 3%;
	border-color: rgb(101, 101, 101);
	border-width: 0.1vw;
	border-style: solid;
	color: white;
	background-color: #1e1e1e;
	transition-duration: 0.5s;
}

.Columns {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
}

.ImageColumn {
	width: 50%;
	height: 100%;
}

.InfoColumn {
	width: 50%;
	height: 100%;
}

.ProjectTitle {
	font-size: 200%;
}

.ProjectImage {
	width: 100%;
	height: 50%;
	border-radius: 0.1vw;
	border-style: solid;
	border-color: transparent;
}

.ProjectDescription {
	font-size: 80%;
	margin: 1vh;
	text-align: left;
}

.ButtonContainer {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 10%;
}

.ProjectButton {
	width: 40%;
	height: 60%;
	font-size: 90%;
	margin: 15px;
	background-color: transparent;
	color: white;
	border-style: solid;
	transition-duration: 500ms;
}

#GithubBtn {
	border-color: rgb(205, 24, 255);
}
#GithubBtn:hover {
	cursor: pointer;
	border-color: rgb(255, 255, 255);
	background-color: rgb(205, 24, 255);
}

#LiveBtn {
	border-color: rgb(255, 25, 0);
}
#LiveBtn:hover {
	cursor: pointer;
	border-color: rgb(255, 255, 255);
	background-color: rgb(255, 25, 0);
}

.TagContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.tag {
	font-size: 90%;
	padding: 2%;
	margin: 1%;
	background-color: transparent;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	width: fit-content;
}

@media screen and (max-width: 800px) {
	.project {
		width: 70%;
	}
}
