.test {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: fit-content;
	background-color: #121212;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}

.testTitle {
	color: #ffffff;
}
.testMain {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -5%;
}
.testTagsContainer {
}

.testButtonContainer {
	display: flex;
	justify-content: right;
	margin: 3%;
	padding-right: 10%;
}

.testText {
	width: 30%;
	text-align: left;
	align-self: center;
	margin: 5%;
	font-size: 175%;
	color: #ffffff;
}

.testVideo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.testColumnContainer {
	display: flex;
	justify-content: center;
}

.testColumn {
	margin: 10px;
	width: 40vw;
	height: fit-content;
}

.testColumnButton {
	background-color: transparent;
	color: #ffffff;
	border: 2px solid #ff8731;
	padding: 10px 20px;
	margin: 1%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 200%;
	transition-duration: 0.4s;

	cursor: pointer;
}

.testColumnButton:hover {
	background-color: #ff8731;
	color: #121212;
}

.testColumnTitle {
	font-size: 200%;
	color: #ffffff;
}
.testColumnTextContainer {
	border-style: solid;
	border-image: linear-gradient(45deg, #00000000, #ff8731) 1;
	background-color: #1e1e1e;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
}
.testColumnTextSubTitle {
	color: #ffffff;
	font-size: 150%;
	font-weight: 900;
	margin-top: 30px;
	margin-bottom: 2%;
}

.testColumnText {
	text-align: left;
	font-size: 125%;
	color: #ffffff;
}
